@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sohneschmal";
  src: url("/public/assets/font/TestSohneSchmal-Fett-BF663d89cadad5a.otf") format("truetype");
}

@font-face {
  font-family: maisonNeue;
  src: url('/public/assets/font/MaisonNeue-Light.otf') format("truetype");
}

body{
  font-family: maisonNeue;
}